target/
lib_managed/
project/boot/
project/build/target/
project/plugins/target/
project/plugins/lib_managed/
project/plugins/src_managed/
.settings/
.idea_modules/
.idea/
*.iml
*/bin/
*/out/
*/gen/
*/libs/
*/tmp/
*/build/
*/.gradle/
*.classpath
*/project.properties
instrumentation/project.properties
*.project
*/local.properties
*/.settings
**.log
release.properties
project.properties
*/classes/
*/test_servers/*.apk
*.class
R.java
lint.xml
gen-external-apklibs/
testground/
*.DS_STORE
/classes/
app/proguard/dump.txt
app/proguard/seeds.txt
app/proguard/usage.txt
*/.idea/*
out
